body {
    font-family: 'Montserrat', sans-serif;
    width: max-content;
}

h1 {
    align-content: center;
    text-align: center;
}

.user-name {
    text-align: center;
    margin-bottom: 75px;
    align-content: center;
}

a {
    color: crimson;
    align-content: center;
}