body {
    font-family: 'Montserrat', sans-serif;
    width: max-content;
}

h1 {
    align-content: center;
    text-align: center;
}

.user-name {
    text-align: center;
    margin-bottom: 75px;
    align-content: center;
}

.border {
    border-radius: 15px;
    text-align: "center";
    align-content: "center";
}

a {
    color: crimson;
    align-content: center;
}

table td {
    border-color: green;
}

tr.border-bottom {
    border-style: dotted;
    border-color: red;
}